# general
pandas
numpy
click
vessim==0.4.0
flwr[simulation]==1.6.0
torch

# optimization
gurobipy==10.0.0

# CIFAR100 + TinyImageNet experiments
torchvision
# Shakespeare experiment
torchtext
# Google Speech experiment
librosa
einops
audiomentations

# Analysis
jupyterlab
matplotlib==3.6
seaborn==0.12.2
streamlit
tensorboard
tbparse
